extends ../node_modules/jade-bootstrap/_bootstrap

head
  title=title

block body
  +navbar("Colenso Project", "dropdown_menu")
    +nav_item("/") Home
    +nav_item("/search") Search
    +nav_item("/browse", "active") Browse

  .container
    h2 Browse Databse
    p File shown in a file system hierarchy.
    hr
  .container
    s
    if folders.length == 0 || folders.length < 5
      +a-btn-success("/browse")
        +icon("home")
        div(style='width:10px; height:auto; display:inline-block;')
        | Home

    if folders.length > 0
      h3 Folders
      each folder in folders
        +a-btn-info('/browse?path=' + folder) 
          +icon("folder-open")
          div(style='width:10px; height:auto; display:inline-block;')
          | #{folder}
        br
        br
    hr
    if files != undefined
      if path.length > 1
        h3 Files: #{path}
      else
        h3 Files
      each file in files
        +a-btn('view?path=' + path + file) 
          +icon("file")
          div(style='width:10px; height:auto; display:inline-block;')
          | #{file}
        br
        br
    hr
    form(action="/upload?path=" + path, method="post", enctype="multipart/form-data")
      input(type="file", name="file")
      br
      +submit-success("Upload")
