extends ../node_modules/jade-bootstrap/_bootstrap

head
  title=Colenso

block body
  +navbar("Colenso Project", "dropdown_menu")
    +nav_item("/", "active") Home
    +nav_item("/search") Search
    +nav_item("/browse") Browse
    +nav_item("/submit") Submit
  +a-btn-danger("#")
    +icon('remove') 
    | Remove
  +a-btn-success("#")
    +icon('download')
    | Download
  +a-btn-warning("#")
    +icon('upload')
    | Upload    
  +a-btn-success("#")
    +icon("cloud-download")
    | Download
  +a-btn-warning("#")
    +icon("cloud-upload")
    | Upload
  +a-btn-success("#")
    +icon("floppy-disk")
    | Save
  +a-btn-warning("#")
    +icon("edit")
    | Edit
  +a-btn-warning("#")
    +icon("file")
    | File    

