extends ../node_modules/jade-bootstrap/_bootstrap

head
  title=Colenso

block body
  +navbar("Colenso Project", "dropdown_menu")
    +nav_item("/", "active") Home
    +nav_item("/search") Search
    +nav_item("/browse") Browse
    +nav_item("/submit") Submit

  .container
    h2 Colenso Project
    hr
    p The Colenso Society, Victoria University of Wellington and MTG 	Hawke's Bay are delighted to announce the establishment of the Colenso Project. This exciting new initiative seeks to build on the blossoming national and international interest in William Colenso’s life and ideas as the result of the William Colenso Bicentenary Celebrations in Hawke’s Bay in 2011, and a body of new publications and research.
    br
    br
    <a href="/">
    +img-responsive-center("images/logo.jpg")
    </a>
