extends ../node_modules/jade-bootstrap/_bootstrap

head
  title=Colenso

block body
  +navbar("Colenso Project", "dropdown_menu")
    +nav_item("/") Home
    +nav_item("/search", "active") Search
    +nav_item("/browse") Browse

  .container
    h2 #{title}
    p Search the Colenso Database.
    hr
    h3 Text Query
    form(name="query", action="/search", method="get")
      +input("text", "query", "Text Search | e.g. Colenso", "", name="searchString")
      +submit-success("Search")

    h3 XQuery
    form(name="xquery", action="/xquery", method="get")
      +input("text", "xquery", "Xquery Search | e.g. //name", "", name="searchString")
      +submit-success("Search")
    hr
    each val in results
      +a-btn('view?path=' + val) 
          +icon("file")
          div(style='width:10px; height:auto; display:inline-block;')
          | !{val}
      br    
      br
    hr