extends ../node_modules/jade-bootstrap/_bootstrap

head
  title=Colenso

block body
  +navbar("Colenso Project", "dropdown_menu")
    +nav_item("/") Home
    +nav_item("/search", "active") Search
    +nav_item("/browse") Browse
    +nav_item("/submit") Submit

  .container
    h2 Text Query
    form.form-group(action="/search1", method="get")
      input.input-block-level-success(type="text", name="query", placeholder="Text Query")
      br
      br
      +a-btn-success(type="submit", name="place", value="1")
        +icon('search')
        div(style='width:10px; height:auto; display:inline-block;')
        | Search
    br
    h2 XQuery
    form.form-group(action="/search2", method="get")
      input.input-block-level(type="text", name="query", placeholder="XQuery")
      br
      br
      +a-btn-success(type="submit")
        +icon('search')
        div(style='width:10px; height:auto; display:inline-block;')
        | Search